body {
    padding: 0;
}
*{
    font-family: 'Roboto', sans-serif;
}
.navbar {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-color: rgba(211, 225, 211, 0.57);
    color: #000000;
}

.navbuttons {
    margin-left: 10px;
}

.login {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 5px 10px #DBDBDB;
}

a {
    text-decoration: none;
    color: #000000;
}

.navbuttons {
    margin-left: 10px;
}

.items {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    column-gap: 10px;
    row-gap: 25px;
}

.product{
    text-align: center;
    box-shadow: 0 5px 10px #DBDBDB;
}



